# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/web/node_modules
/.pnp
/web/.pnp.js

# testing
/web/coverage

# database
/web/prisma/db.sqlite
/web/prisma/db.sqlite-journal
/web/db.sqlite

# next.js
/web/.next/
/web/out/
/web/next-env.d.ts

# production
/web/build

# misc
/web/.DS_Store
*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/.pnpm-debug.log*

# local env files
# do not commit any .env files to git, except for the .env.example file. https://create.t3.gg/en/usage/env-variables#using-environment-variables
/web/.env
/web/.env*.local

# vercel
/web/.vercel

# typescript
*.tsbuildinfo

# idea files
/web/.idea

# osm data
/data/osm/india.osm.pbf