# dependencies
/web/node_modules
/.pnp
/web/.pnp.js

# testing
/web/coverage

# database
/web/prisma/db.sqlite
/web/prisma/db.sqlite-journal
/web/db.sqlite

# next.js
/web/.next/
/web/out/
/web/next-env.d.ts

# production
/web/build

# misc
/web/.DS_Store
*.pem

# debug
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/.pnpm-debug.log*

# env
.env
.env.*
!.env.example

# vercel
/web/.vercel

# typescript
*.tsbuildinfo

# idea files
/web/.idea

# osm data & OSRM
/data/osm/
.osrm-backend/

# python cache
__pycache__/